# Consructors

In Python, you can also create a `list`, `set`, `tuple` or `dictionary` with a constructor of the same name. You can pass any 'iterable' to it and it will populate the collection using the values in that iterable. The term 'iterable' refers to anything you can iterate over, so anything you could use in a for-in loop. This could be a list, set, tuple or dictionary, but it can also be a String for example.

| code | result | comment |
|:-----|:-------|:--------|
| `list({2, 5})` | `[ 2, 5 ]` | Creates a list populated with the values in a set. Note that since sets are unordered, the result could also be the 2 and 5 in reverse order |
| `set('aardvark')` | `{'a', 'r', 'd', 'v', 'k' }` | Creates a set of the characters in a word. Since sets have unique elements, duplicates are removed |
| `tuple({2:'a', 3:'b'})` | `(2, 3)` | Creates a tuple. Since by default the iterator is over the keys, only those are listed |
| `list({2:'a', 3:'b'}.items())` | `[(2, 'a'), (3, 'b')]` | Since items() on a dictionay iterates over (key, value) tuples, those are stored in the list |
| `dict([(1, 'a'), (2, 'b')])` | `{'a':1, 'b':2}` | The elements of the list are (key, value) tuples. These are automatically transformed to key:value pairs in the dict |
| `dict(zip( ('a', 'b'), [1, 2] ))` | `{'a':1, 'b':2}` | We could also use `zip` to construct tuples and then turn that into a dictionary |

# Assignments

# Convert the list `numbers` into a set.

In [1]:
numbers = [ 2, 3, 2, 4 ]

In [2]:
%%assignment
### ENTER YOUR CODE HERE

In [3]:
%%check
numbers = [ 1, 1, 2, 2 ]
result == {1, 2}
numbers = [ 2, 3, 2, 4 ]
result == {2, 3, 4}

# Convert the list `numbers` into a tuple.

In [4]:
numbers = [ 2, 3, 2, 4 ]

In [5]:
%%assignment
### ENTER YOUR CODE HERE

In [6]:
%%check
numbers = [ 1, 1, 2, 2 ]
result == (1, 1, 2, 2)
numbers = [ 2, 3, 2, 4 ]
result == (2, 3, 2, 4)

# Count how many unique letters there are in `word`.

Consider that a word is just a collection of characters, you can turn that collection into a set and then count the number of unique letter (which is the same as the number of elements, since a set does not have doubles).

In [7]:
word = 'parallelogram'

In [8]:
%%assignment
### ENTER YOUR CODE HERE

In [9]:
%%check
mandatory set
forbidden for   # you should do this without a for loop
word = 'this'
result == 4
word = 'parallelogram'
result == 8

# Give the unique cities of these `students`

Every element in the dictionary `students` has a name as its key and cityname as its value. The citynames are not necessarily unique in the dictionary.

In [10]:
students = {'Lucy':'Delft', 'James':'Rotterdam', 'Mary':'Delft'}

In [11]:
%%assignment
### ENTER YOUR CODE HERE

In [12]:
%%check
students = {'Lucy':'Delft', 'James':'Rotterdam', 'Mary':'Delft'}
result == {'Delft', 'Rotterdam'}
students = {'Lucy':'Delft', 'James':'Delft', 'Mary':'Delft'}
result == {'Delft'}

# Consider a hand of 5 playing cards, count how many different suits there are.

The suits are clubs (♣), diamonds (♦), hearts (♥), and spades (♠). The suit of a card is always at the end of the String.

Hint: you can create a set comprehension that contains just the suits and then count the number of elements.

In [13]:
hand = ['10♥', '5♣', '9♣', '10♦', 'Q♥']

In [14]:
%%assignment
### ENTER YOUR CODE HERE

In [15]:
%%check
hand = ['10♠', '5♠', '9♠', '10♠', 'Q♠']
result == 1
hand = ['10♥', '5♣', '9♣', '10♦', 'Q♥']
result == 3