# Set operations

We can also use Mathematical Set operators like `issubset` $\subset$, `union` $\cup$, `intersect` $\cap$ and `difference` $\setminus$ on Python sets. These have been implemented as functions on sets. Typically, the union and intersect operators do not modify a set, but return a new set. Like on lists, we also have a function to `add` and `remove` elements.

In [1]:
a = {2, 5, 3, 5}
b = {5, 4, 2}

| code | result | comment |
|:-----|:-------|:--------|
| 2 in a | True | True is the given element is in the set |
| a.add(9) | a == {2, 3, 5, 9} | adds an elemment to the set |
| a.remove(2) | a == {3, 5} | removes an element from a set |
| a.union(b) | {2, 3, 4, 5} | returns a union of two sets (a remains unchanged) |
| a.intersect(b) | {2, 5} | returns the intersect between two sets |
| b.issubset( a ) | False | because 4 is not in a |
| a.difference(b) | {3} |

# Assignments

#### Return the union of `s` and `f`, being all the unique characters that appear in the words `science` and `fiction`

In [2]:
s = set('science')
f = set('fiction')

In [3]:
%%assignment
### ENTER YOUR CODE HERE

In [4]:
%%check
s = set('hard')
f = set('rock')
result == {'h', 'a', 'r', 'd', 'r', 'o', 'c', 'k'}
s = set('science')
f = set('fiction')
result == {'c', 'e', 'f', 'i', 'n', 'o', 's', 't'}

#### How many unique letters appear in s that do not appear in f?

In [5]:
s = set('science')
f = set('fiction')

In [6]:
%%assignment
### ENTER YOUR CODE HERE

In [7]:
%%check
s = set('hard')
f = set('rock')
result == 3
s = set('science')
f = set('fiction')
result == 2

#### How many letters appear in both s and f?

In [8]:
s = set('science')
f = set('fiction')

In [9]:
%%assignment
### ENTER YOUR CODE HERE

In [10]:
%%check
s = set('hard')
f = set('rock')
result == 1
s = set('science')
f = set('fiction')
result == 3

#### Remove 'John' from `students`

In [11]:
students = {'John', 'Lucy', 'Paul'}

In [12]:
%%assignment
### ENTER YOUR CODE HERE

In [13]:
%%check
students = {'John', 'Lucy'}
students == {'Lucy'}
students = {'John', 'Lucy', 'Paul'}
students == {'Lucy', 'Paul'}

#### To students, add 'Nick' and 'Simon'?

In [14]:
students = {'John', 'Lucy', 'Paul'}

In [15]:
%%assignment
### ENTER YOUR CODE HERE

In [16]:
%%check
students = {'John', 'Lucy'}
students == {'John', 'Lucy', 'Nick', 'Simon'}
students = {'John', 'Lucy', 'Paul'}
students == {'John', 'Lucy', 'Paul', 'Nick', 'Simon'}