# Year converter

#### Write a Python program that converts the age of a person into dog-years

To convert an age to dog years, the first two years equal 10.5 human years. The remaining dog years equal 4 human years. Take the variable `human_years` as input, and write the end result as an expression (i.e. do not store it in a variable). However, you may use multiple lines, for example to first determine the number of years below the age of 21 and then the number of years above the age of 21.

A usefool tool to determine the number of years above and below 21 are the `min` and `max` functions. These return respectively the lowest of a number of values or the highest of a number of values. Let's get to know the `min` and `max` functions

In [1]:
human_years = 25

#### Write an expression that return the number of human years if it is below 21, or otherwise 21.

In [2]:
%%assignment
### ENTER YOUR CODE HERE

In [3]:
%%check
human_years = 20
result == 20
human_years = 21
result == 21
human_years = 22
result == 21

#### Now convert the number of human years below 21 to dog years. For example for 21, the answer should be 2, for 10.5 the answer should be 1.

In [4]:
%%assignment
### ENTER YOUR CODE HERE

In [5]:
%%check
human_years = 10.5
result == 1
human_years = 21
result == 2
human_years = 22
result == 2

#### Now compute the number of human years above 21. For example, 25 should become 4 and any ago below 21 should give you 0.

In [6]:
%%assignment
### ENTER YOUR CODE HERE

In [7]:
%%check
human_years = 18
result == 0
human_years = 21
result == 0
human_years = 25
result == 4

#### Now covert the number of human years above 21 to dog years. For example, 25 should become 1, 29 shoud become 2 and any ago below 21 should give you 0.

In [8]:
%%assignment
### ENTER YOUR CODE HERE

In [9]:
%%check
human_years = 18
result == 0
human_years = 21
result == 0
human_years = 25
result == 1
human_years = 29
result == 2

#### Now combine the expression to compute the number of dog years for the first 21 years and above the age of 21 to make it work for every age. For example 10.5 should give 1, 21 should give 2, 25 should give 3.

In [10]:
%%assignment
### ENTER YOUR CODE HERE

In [11]:
%%check
human_years = 10.5
result == 1
human_years = 21
result == 2
human_years = 25
result == 3
human_years = 29
result == 4

#### Now create an expression that computes the number of human years based on the number of dog years, e.g. 1 -> 10.5, 2-> 21, 3 -> 25, etc.

In [12]:
dog_years = 3

In [13]:
%%assignment
### ENTER YOUR CODE HERE

In [14]:
%%check
dog_years = 1
result == 10.5
dog_years = 2
result == 21
dog_years = 3
result == 25
dog_years = 4
result == 29