# Datatypes

You can create Lists of any datatype. Indexing works the same, however taking the `sum` of a List does require elements that can be added. Therefore `sum` will only work on numerical Lists. The function `len`, `min` and `max` also apply to Lists that contain Strings, where for example `min` is defined as the alphabetically first String.

Lists can also contain mixed datatypes.

# Examples

We can create a list of student names, and then check how many students there are.

In [ ]:
student = ['John', 'Lucas', 'Mary', 'John']

In [ ]:
len(student)

Or we can create a list of ages, and check if the second age is smaller than 20

In [ ]:
age = [ 65, 13, 45, 28 ]

In [ ]:
age[1] < 20

In Python, lists can also contain mixed datatypes. Although in general, if you need mixed datatypes, it is better to structure your data differently (coming up in future notebooks).

In [ ]:
mixed = [ 'jack', 20, 'jones', 2.5, True ]

# Assignments

### Create a List `city` that contains the names of 3 cities.

In [ ]:
%%assignment
### ENTER YOUR CODE HERE

In [ ]:
%%check
len(city) == 3
all(type(c)==str for c in city)

### Create a List `a` that contains integers that are all even, and their average must be 3.

In [ ]:
%%assignment
### ENTER YOUR CODE HERE

In [ ]:
%%check
all(type(i)==int for i in a)
all(i%2==0 for i in a)
sum(a)/len(a) == 3

### Return the alphabetically last name in names

In [ ]:
names = [ 'George', 'William', 'Henry' ]

In [ ]:
%%assignment
### ENTER YOUR CODE HERE

In [ ]:
%%check
names = [ 'George', 'William', 'Henry' ]
result == 'William'
names = [ 'Bert', 'Agnes' ]
result == 'Bert'