# List functions

There are several functions we can apply to a List to modify the List or perform some operation.

These functions are called methods. A method belongs to a list, therefore they are connected to a list with a dot; `list.method()`. The method only works on the list it is attachted to.

| Index | 0 | 1 | 2 |   |
|-------|---|---|---|---|
| a = [ | 2 | 3 | 7 | ] |
| b = [ | 3 | 8 | 5 | ] |


| Example | Result | Comment |
|:--------|:-------|:--------|
| a.append( 4 ) | a = [ 2, 3, 7, 4 ] | appends a value to the end of the list |
| a.index(3)    | 1 | returns the index of the first element with value 3 |
| a.insert(1, 9) | a = [ 2, 9, 3, 7 ] | inserts an element with value 9 in the list between the indices 0 and 1 |
| a.extend(b) | a = [ 2, 3, 7, 3, 8, 5 ] | appends all elements from list b to list a, note that elements do not have to be unique |
| b.sort() | b = [ 3, 5, 8 ] | sorts the elements in the List |
| a.reverse() | a = [ 7, 3, 2 ] | reverses the order of the elements |

# Assignments

#### Insert the name 'Jeff' in `hero` at index 1.

In [1]:
hero = ['John', 'Jack', 'James']

In [2]:
%%assignment
### ENTER YOUR CODE HERE

In [3]:
%%check
hero = ['John', 'Jack', 'James']
hero == ['John', 'Jeff', 'Jack', 'James']
hero = ['Kyle', 'Kevin']
hero == ['Kyle', 'Jeff', 'Kevin']

#### Insert the name 'Jeff' in `hero` just before 'Jack'. Beware that Jack is not necessarily at index 1, so you have to first get the index of Jack.

In [4]:
hero = ['John', 'Jack', 'James']

In [5]:
%%assignment
### ENTER YOUR CODE HERE

In [6]:
%%check
hero = ['John', 'Jack', 'James']
hero == ['John', 'Jeff', 'Jack', 'James']
hero = ['Jack', 'James']
hero == ['Jeff', 'Jack', 'James']

#### What is the second smallest temperature in `temperatures`.

In [7]:
temperatures = [20, 9, 15, 30, 31]

In [8]:
%%assignment
### ENTER YOUR CODE HERE

In [9]:
%%check
temperatures = [20, 9, 15, 30, 31]
result == 15
temperatures = [2.5, 3.5, 4.5, 1.2]
result == 2.5

#### Replace the highest temperature with 40.
Hint: Find the index of the maximum.

In [10]:
temperatures = [20, 9, 15, 31, 30]

In [11]:
%%assignment
### ENTER YOUR CODE HERE

In [12]:
%%check
temperatures = [20, 9, 15, 30, 31]
temperatures == [20, 9, 15, 30, 40]
temperatures = [2.5, 3.5, 3.2, 1.2]
temperatures == [2.5, 40, 3.2, 1.2]

#### Swap the position of the lowest value in temperatures with position of the highest temperature
You likely need multiple variables and multiple lines of code.

In [13]:
temperatures = [20, 9, 15, 31, 30]
# i.e. should become [ 20, 31, 15, 9, 30 ]

In [14]:
%%assignment
### ENTER YOUR CODE HERE

In [15]:
%%check
temperatures = [20, 9, 15, 30, 31]
temperatures == [20, 31, 15, 30, 9]
temperatures = [3.5, 2.5, 3.2, 1.2]
temperatures == [1.2, 2.5, 3.2, 3.5]