# Mixed data types

In tuples, we can also use mixed datatypes. For example, when we need a List of students, we can store all the information of one student in a Tuple, e.g. name, gender and age. A big advantage of tuples is, that the integrity of our data is guaranteed. When we pass a student to a function, the tuple cannot be modified. This ensures that we cannot mix-up name, gender and age, once constructed in tuple, the order is fixed.

(With gender M=male, F=female, O=otherwise)

In [ ]:
jack = ('Jack', 'M', 19)
marvin = ('Marvin', 'M', 22)
lucy = ('Lucy', 'F', 19)

 We can also place tuples in a List. The list `students` will operate just like any List. So we can add and remove entire students. However, the information of a student is immutable, since these are tuples.

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]

# Examples

Get the first element in `students`, which is a tuple.

In [ ]:
students[0]

Get the `gender` of the first student in `students`.

First the list of students is indexed, then the tuple is indexed.

In [ ]:
students[0][1]

List the names of the students.

Note that `s` is one student, which is a tuple of values.

In [ ]:
[ s[0] for s in students ]

# Assignments

#### What is the name of the last student in `students`?

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
students[-1][0]
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marvin', 'M', 22)]
result == 'Marvin'
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
result == 'Lucy'

#### List the ages of the `students`?

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 20), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
[ s[2] for s in students]
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marvin', 'M', 22)]
result == [19,22]
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
result == [19,22,19]

#### List the average age of the `students`?

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 20), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
sum([ s[2] for s in students])/len(students)
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marvin', 'M', 22)]
result == 20.5
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
result == 20.0

#### How many female (F)  `students` are there?

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
len([ s[2] for s in students if s[1] == 'F'])
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marc', 'M', 21), ('Barry', 'O')]
result == 0.0
students = [('Marcy', 'F', 21), ('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
result == 2

#### What is the average age of all male (M) `students`?

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
male = [ s[2] for s in students if s[1] == 'M']
sum(male)/len(male)
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marcy', 'F', 21)]
result == 19.0
students = [('Marcy', 'F', 21), ('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
result == 20.5

#### Add ('Marcy', 'F', 21) to students.

In [ ]:
students = [('Jack', 'M', 19), ('Marvin', 'M', 20), ('Lucy', 'F', 19)]

In [ ]:
%%assignment
### BEGIN SOLUTION
students.append(('Marcy', 'F', 21))
### END SOLUTION

In [ ]:
%%check
students = [('Jack', 'M', 19), ('Marvin', 'M', 22)]
students == [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Marcy', 'F', 21)]
students = [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19)]
students == [('Jack', 'M', 19), ('Marvin', 'M', 22), ('Lucy', 'F', 19), ('Marcy', 'F', 21)]