### Combining DataFrames 
In the previous section, we looked at how to select parts of a DataFrame. Now we'll look at the opposite: adding columns or rows to the DataFrame. Let's first define to example DataFrames to work with:

In [1]:
import pandas as pd

example_df = pd.DataFrame({"A":[1.1,2.1,3.1],"B":[12,22,32]},
                    index=['obj1','obj2','obj3']) #example DataFrame
print(example_df)

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

An extra column can be simply added set by specifying a new column label:

In [2]:
example_df["C"] =example_df["B"]**2
example_df

        A   B     C
obj1  1.1  12   144
obj2  2.1  22   484
obj3  3.1  32  1024

And we can remove the column again by selecting only the original columns:

In [3]:
example_df = example_df[["A","B"]]
example_df

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

If we want to combine to larger DataFrames, we can use the Pandas function `concat`. Let's first create a second DataFrame:

In [4]:
example_df2 = pd.DataFrame({"B":[-1.1,-2.1,-3.1],"C":[-12,-22,-32]},
                    index=['obj2','obj3','obj4']) #example DataFrame
print(example_df2)

        B   C
obj2 -1.1 -12
obj3 -2.1 -22
obj4 -3.1 -32

In [5]:
pd.concat([example_df,example_df2])

        A     B     C
obj1  1.1  12.0   NaN
obj2  2.1  22.0   NaN
obj3  3.1  32.0   NaN
obj2  NaN  -1.1 -12.0
obj3  NaN  -2.1 -22.0
obj4  NaN  -3.1 -32.0

The second DataFrame is added as extra rows to the first. Since `example_df` doesn't have a column `C`, the resulting cells are shown as missing values. The same goes for `example_df2` and column `A`. Note that a list of DataFrames is given to `concat`, and this list can have an arbitrary length:

In [6]:
pd.concat([example_df,example_df2,2*example_df,3*example_df2])

        A     B     C
obj1  1.1  12.0   NaN
obj2  2.1  22.0   NaN
obj3  3.1  32.0   NaN
obj2  NaN  -1.1 -12.0
obj3  NaN  -2.1 -22.0
obj4  NaN  -3.1 -32.0
obj1  2.2  24.0   NaN
obj2  4.2  44.0   NaN
obj3  6.2  64.0   NaN
obj2  NaN  -3.3 -36.0
obj3  NaN  -6.3 -66.0
obj4  NaN  -9.3 -96.0

We can also add the DataFrame as extra columns by setting `axis=1`:

In [7]:
pd.concat([example_df,example_df2],axis=1)

        A     B    B     C
obj1  1.1  12.0  NaN   NaN
obj2  2.1  22.0 -1.1 -12.0
obj3  3.1  32.0 -2.1 -22.0
obj4  NaN   NaN -3.1 -32.0

There are again missing values since `example_df` doesn't have an `obj4` row, and `example_df2` doesn't have an `obj1` row. 

Let's rehearse again: 

#### Which of the following statement(s) will give an error?

In [8]:
%%mmc
example_df["A"] == example_df["B"]
pd.concat(example_df["A"],example_df["B"],axis=0)
pd.concat([example_df["A"],example_df["B"]],axis=1)
example_df[["A","B"]] = example_df[["B","A"]]

VBox(children=(Checkbox(value=False, description='example_df["A"] == example_df["B"]', layout=Layout(width='ma…

In [9]:
%%check
hashresult == 658645187

#### Add a column `C` to `example_df` that contains the sum of columns `A` and `B`:

In [10]:
%%assignment
### ENTER YOUR CODE HERE

example_df # leave this as final line to show the result

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

In [11]:
%%check
hashresult == 847242578

#### Now concatenate `example_df` and `example_df2` in the row direction

In [12]:
%%assignment
### ENTER YOUR CODE HERE

In [13]:
%%check
hashresult == 4236979653