### Pandas
Data scientists often work with large data sets that we need to inspect and manipulate. [Pandas](https://pandas.pydata.org/) is a popular package for handling datasets in Python, and will be often used in our data science courses. In this notebook we'll introduce the basics of loading and inspecting a data set with Pandas, which is typically imported with the name `pd`:

In [1]:
import pandas as pd

# File Inspection
Data sets are often saved as comma-separated values (CSV) files. You can inspect these with Excel or a simple text editor. Here we use the `read_csv` function from Pandas to load a dataset on the trees in Delft. This data set is made by the city of Delft and is [publicly available](https://data.overheid.nl/dataset/bomen-in-beheer-door-gemeente-delft).

In [2]:
trees_df = pd.read_csv('Bomen_in_beheer_door_gemeente_Delft.csv')

The dataset is loaded to the variable `trees_df` which is part of the DataFrame class. The DataFrame is the most used class of the Pandas package. Requesting `trees_df` gives a short overview of the dataset:

In [3]:
trees_df

,X,Y,ID,BORNAME,ELEMENTNUMMER,BEHEERGROEP,AANLEGJAAR,BOOMSORTIMENT,BOOMSTATUS,TAKVRIJE_ZONE,...,EXTRA_INFORMATIE_3,GROENGEBIEDCODE,GROENGEBIEDNAAM,GEMEENTE,BUURT,WIJK,LIGGING,BEHEEROBJECTSOORT,BEHEEROBJECTOMSCHRIJVING,OBJECTID
0,4.374816,52.029683,37732,bomen,1151,Niet vrij uitgroeiende boom,NaN,Pyrus calleryana 'Chanticleer',NaN,Bereikt,...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1151,1
1,4.373551,52.031048,37780,bomen,1184,Niet vrij uitgroeiende boom,NaN,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1184,2
2,4.345117,51.994902,8154,bomen,43,Niet vrij uitgroeiende boom,1980.0,Ulmus x hollandica 'Vegeta',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0005,Het Rode Dorp,Delft,Het Rode Dorp,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0005.bm43,3
3,4.352882,52.013582,14766,bomen,89,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC1,01.11.0002,Centrum-west,Delft,Centrum-West,11 Binnenstad,Binnen de bebouwde kom,bm,01.11.0002.bm89,4
4,4.357415,51.993470,17389,bomen,252,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.24.0006,Voorhof-hoogbouw,Delft,Voorhof-Hoogbouw,24 Voorhof,Binnen de bebouwde kom,bm,01.24.0006.bm252,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35378,4.343097,51.992807,35294,bomen,489,Boom Nader te bepalen,1983.0,Betula pendula,NaN,NaN,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm489,35379
35379,4.343493,51.993034,35296,bomen,491,Boom Nader te bepalen,1983.0,Crataegus laevigata,NaN,NaN,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm491,35380
35380,4.343393,51.992935,35297,bomen,492,Boom Nader te bepalen,1983.0,Betula pendula,NaN,Bereikt,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm492,35381
35381,4.343578,51.992749,35301,bomen,495,Niet vrij uitgroeiende boom,1983.0,Fraxinus excelsior,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm495,35382
35382,4.343506,51.992816,35302,bomen,496,Niet vrij uitgroeiende boom,1983.0,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm496,35383

This DataFrame has 35384 rows that represent the different objects in the dataset and 28 columns that represent the different properties of each object. The output actually has 29 columns, but the first "column" doesn't have a label. This first column contains the index of each object, which in this case is a number, but can also be a string.  

Note that the DataFrame holds different variable types:
- `float` (X,Y)
- `int` (ID,ELEMENTNUMMER)
- `string` (BEHEERGROEP,BOOMSORTIMENT).

We don't have to inspect the table itself to get its size, the column labels, and the variable types. These are attributes of the DataFrame that can be accessed directly. For instance the size of the table is requested with attribute `shape`:

In [4]:
trees_df.shape # show the number of rows and columns

(35383, 28)

The column labels can be found with the attribute `columns`. Show the column labels below.

In [5]:
%%assignment
# YOUR CODE HERE
trees_df.columns

Index(['X', 'Y', 'ID', 'BORNAME', 'ELEMENTNUMMER', 'BEHEERGROEP', 'AANLEGJAAR',
       'BOOMSORTIMENT', 'BOOMSTATUS', 'TAKVRIJE_ZONE',
       'OMGEVINGSRISICOKLASSEN', 'AMBITIENIVEAU', 'HOOGTE', 'DIAMETER',
       'STANDPLAATS', 'BEHEERDER', 'EIGENAAR', 'EXTRA_INFORMATIE_2',
       'EXTRA_INFORMATIE_3', 'GROENGEBIEDCODE', 'GROENGEBIEDNAAM', 'GEMEENTE',
       'BUURT', 'WIJK', 'LIGGING', 'BEHEEROBJECTSOORT',
       'BEHEEROBJECTOMSCHRIJVING', 'OBJECTID'],
      dtype='object')

In [6]:
%%check
len(result) == 28
'BOOMSORTIMENT','TAKVRIJE_ZONE','GROENGEBIEDCODE' in result

Similarly, show the variable types with the attribute `dtypes`.

In [7]:
%%assignment
# YOUR CODE HERE
trees_df.dtypes

X                           float64
Y                           float64
ID                            int64
BORNAME                      object
ELEMENTNUMMER                 int64
BEHEERGROEP                  object
AANLEGJAAR                  float64
BOOMSORTIMENT                object
BOOMSTATUS                   object
TAKVRIJE_ZONE                object
OMGEVINGSRISICOKLASSEN       object
AMBITIENIVEAU                object
HOOGTE                       object
DIAMETER                    float64
STANDPLAATS                  object
BEHEERDER                    object
EIGENAAR                     object
EXTRA_INFORMATIE_2           object
EXTRA_INFORMATIE_3           object
GROENGEBIEDCODE              object
GROENGEBIEDNAAM              object
GEMEENTE                     object
BUURT                        object
WIJK                         object
LIGGING                      object
BEHEEROBJECTSOORT            object
BEHEEROBJECTOMSCHRIJVING     object
OBJECTID                      int64
dtype: object

In [8]:
%%check
len(result) == 28
result['DIAMETER'].name == 'float64'
result['ID'].name == 'int64'
result['GROENGEBIEDCODE'].name == 'object'

The row labels are requested with the attribute `index`:

In [9]:
trees_df.index

RangeIndex(start=0, stop=35383, step=1)

Currently, `index` returns an iterator that numbers each row. However, we can also specify to use one of the columns as row label. This is done by setting the option `index_col` of `read_csv` to the desired column label. 
In the current file, the column `ID` seems a good candidate as row label. Reload the dataset to the variable `df2` with the values of `ID` as row labels.

In [10]:
%%assignment
# YOUR CODE HERE
df2 = pd.read_csv('Bomen_in_beheer_door_gemeente_Delft.csv', index_col='ID')
df2 # leave this to show the result

,X,Y,BORNAME,ELEMENTNUMMER,BEHEERGROEP,AANLEGJAAR,BOOMSORTIMENT,BOOMSTATUS,TAKVRIJE_ZONE,OMGEVINGSRISICOKLASSEN,...,EXTRA_INFORMATIE_3,GROENGEBIEDCODE,GROENGEBIEDNAAM,GEMEENTE,BUURT,WIJK,LIGGING,BEHEEROBJECTSOORT,BEHEEROBJECTOMSCHRIJVING,OBJECTID
ID,,,,,,,,,,,,,,,,,,,,,
37732,4.374816,52.029683,bomen,1151,Niet vrij uitgroeiende boom,NaN,Pyrus calleryana 'Chanticleer',NaN,Bereikt,Verhoogd,...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1151,1
37780,4.373551,52.031048,bomen,1184,Niet vrij uitgroeiende boom,NaN,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1184,2
8154,4.345117,51.994902,bomen,43,Niet vrij uitgroeiende boom,1980.0,Ulmus x hollandica 'Vegeta',NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC3,01.25.0005,Het Rode Dorp,Delft,Het Rode Dorp,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0005.bm43,3
14766,4.352882,52.013582,bomen,89,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC1,01.11.0002,Centrum-west,Delft,Centrum-West,11 Binnenstad,Binnen de bebouwde kom,bm,01.11.0002.bm89,4
17389,4.357415,51.993470,bomen,252,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC3,01.24.0006,Voorhof-hoogbouw,Delft,Voorhof-Hoogbouw,24 Voorhof,Binnen de bebouwde kom,bm,01.24.0006.bm252,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35294,4.343097,51.992807,bomen,489,Boom Nader te bepalen,1983.0,Betula pendula,NaN,NaN,Algemeen,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm489,35379
35296,4.343493,51.993034,bomen,491,Boom Nader te bepalen,1983.0,Crataegus laevigata,NaN,NaN,Algemeen,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm491,35380
35297,4.343393,51.992935,bomen,492,Boom Nader te bepalen,1983.0,Betula pendula,NaN,Bereikt,Algemeen,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm492,35381
35301,4.343578,51.992749,bomen,495,Niet vrij uitgroeiende boom,1983.0,Fraxinus excelsior,NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm495,35382
35302,4.343506,51.992816,bomen,496,Niet vrij uitgroeiende boom,1983.0,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",Algemeen,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm496,35383

In [11]:
%%check 
hashresult == 1591492765

A quick overview of all the above information (column names, number of rows, variable types) can be made using the function `info`. It also provides the number of non-empty cells for each column, en the memory size.

In [12]:
trees_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35383 entries, 0 to 35382
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   X                         35383 non-null  float64
 1   Y                         35383 non-null  float64
 2   ID                        35383 non-null  int64
 3   BORNAME                   35383 non-null  object
 4   ELEMENTNUMMER             35383 non-null  int64
 5   BEHEERGROEP               35383 non-null  object
 6   AANLEGJAAR                27292 non-null  float64
 7   BOOMSORTIMENT             35383 non-null  object
 8   BOOMSTATUS                1106 non-null   object
 9   TAKVRIJE_ZONE             34041 non-null  object
 10  OMGEVINGSRISICOKLASSEN    35383 non-null  object
 11  AMBITIENIVEAU             35383 non-null  object
 12  HOOGTE                    33592 non-null  object
 13  DIAMETER                  1772 non-null   float64
 14  STANDPLAATS               34728 non-null  object
 15  BEHEERDER                 35383 non-null  object
 16  EIGENAAR                  35375 non-null  object
 17  EXTRA_INFORMATIE_2        31894 non-null  object
 18  EXTRA_INFORMATIE_3        34271 non-null  object
 19  GROENGEBIEDCODE           35383 non-null  object
 20  GROENGEBIEDNAAM           35383 non-null  object
 21  GEMEENTE                  35383 non-null  object
 22  BUURT                     33256 non-null  object
 23  WIJK                      35383 non-null  object
 24  LIGGING                   35383 non-null  object
 25  BEHEEROBJECTSOORT         35383 non-null  object
 26  BEHEEROBJECTOMSCHRIJVING  35383 non-null  object
 27  OBJECTID                  35383 non-null  int64
dtypes: float64(4), int64(3), object(21)
memory usage: 7.6+ MB

The `DIAMETER` column only has 1772 rows with non-null values. The value of the other rows are indicated as `NaN`: Not a Number, which means these cells are empty. Missing values in data sets are common in practice, but we'll see that Pandas is very flexible with this. 

### Which statement(s) are correct?

In [37]:
%%mmc file_inspection
OBJECTID has missing values
AANLEGJAAR has type int
Er zijn 28 kolommen

VBox(children=(Checkbox(value=False, description='OBJECTID has missing values', layout=Layout(width='max-conte…

In [41]:
%%check
hashresult == 3818810794

## Creating a new DataFrame
We've already seen that we can create a DataFrame by loading a CSV file with Pandas. But a DataFrame can also be directly constructed from a dictionary of lists:

In [8]:
example_dict = {'A': [10, 20, 30], 'B': ['aap','paard','dromedaris']}
row_labels = [f'row_{k}' for k in range(3)] 

example_df = pd.DataFrame(example_dict,index=row_labels)
print(example_df)

        A           B
row_0  10         aap
row_1  20       paard
row_2  30  dromedaris

**exercise** Create the following table as DataFrame:

|       | inwoners | provincie    | 
|-------|----------|--------------|
| Delft | 104468   | Zuid-Holland | 
| Utrecht | 361924 | Utrecht |
| Westerhoven | 2030 | Noord-Brabant|

In [43]:
%%assignment
# YOUR CODE HERE
row_labels = ['Delft', 'Utrecht', 'Westerhoven']

example_dict = {'inwoners': [104468,361924,2030], 'provincie': ['Zuid-Holland','Utrecht','Noord-Brabant']}
pd.DataFrame(example_dict,index=row_labels)

             inwoners      provincie
Delft          104468   Zuid-Holland
Utrecht        361924        Utrecht
Westerhoven      2030  Noord-Brabant

In [44]:
%%check
hashresult == 742727652

## Selection
We often want to select specific columns or rows from the DataFrame for processing. The selection can be done based on column or row label, or based on a positional index (number). 

Let's make an example DataFrame to experiment with:

In [10]:
example_df = pd.DataFrame({"A":[1.1,2.1,3.1],"B":[12,22,32]},
                    index=['obj1','obj2','obj3']) #example DataFrame
print(example_df)

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

In [9]:
example_dict={"A":[1.1,2.1,3.1],"B":[12,22,32]}

The columns of `example_df` can be accessed like dictionary fields:

In [119]:
example_df["A"]

obj1    1.1
obj2    2.1
obj3    3.1
Name: A, dtype: float64

Note that the row labels are maintained when selecting a column, and the output can be considered a one-dimensional DataFrame. (However, the actual Pandas class of the output is a `Series`.) 

You can also select multiple columns at once:

In [120]:
example_df[["B","A"]]

       B    A
obj1  12  1.1
obj2  22  2.1
obj3  32  3.1

The rows can be selected by slicing, as we've done with lists:

In [121]:
print(example_df[0:2]) # selects rows 0 and 1

        A   B
obj1  1.1  12
obj2  2.1  22

Note that this selection is based on position and thus the row labels are ignored. 
There is a difference with list-style indexing: using an integer to select a single column is **not** allowed.

In [122]:
example_df[2] # not allowed, use: example_df[2:3]

KeyError: 2

Pandas recommends using the `loc` property of the DataFrame for label-based selection, and the `iloc` properties for position-based selection. 
For these properties you can specify both the desired row(s) and desired column(s):

In [123]:
example_df.loc['obj3']

A     3.1
B    32.0
Name: obj3, dtype: float64

This does require that the row labels are strings. 

You can also slice with labels. However, note that in contrast to slicing with positions, the final element is included in the result:

In [124]:
example_df.loc[:'obj2'] # slice until obj2

        A   B
obj1  1.1  12
obj2  2.1  22

With `loc` you can also select rows and columns at the same time:

In [125]:
example_df.loc[:'obj2', 'B'] # slice until obj2, take column B

obj1    12
obj2    22
Name: B, dtype: int64

Property `iloc` works the same as `loc`, except it takes positional integers instead of string labels.

In [127]:
example_df.iloc[2] # take third row

A     3.1
B    32.0
Name: obj3, dtype: float64

In [129]:
example_df.iloc[:2] # take first two rows

        A   B
obj1  1.1  12
obj2  2.1  22

In [131]:
example_df.iloc[:2,1] # take first two rows and second column

obj1    12
obj2    22
Name: B, dtype: int64

You can also select rows and columns by combining selections:

In [204]:
example_df["A"][1:3] # select column A, rows 2 and 3

obj2    2.1
obj3    3.1
Name: A, dtype: float64

In [201]:
example_df.iloc[0]["B"] # select row 1, column B

12.0

In [202]:
example_df.loc["obj2":].iloc[:,0]# select every row from obj2, and first column

obj2    2.1
obj3    3.1
Name: A, dtype: float64

We've now seen many ways of indexing. Let's rehearse:

In [138]:
print(example_df)

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

##### Which code **does not** return column B?

In [161]:
%%mc
example_df["B"]
example_df.iloc[:,1]
example_df.loc["B"]
example_df.loc[:,"B"]

RadioButtons(layout=Layout(width='max-content'), options=('example_df["B"]', 'example_df.iloc[:,1]', 'example_…

In [175]:
%%check 
hashresult == 3487754587

##### Which **does not** return the first row?

In [164]:
%%mc
example_df[0]
example_df[:1]
example_df.iloc[:1]
example_df.loc["obj1"]

RadioButtons(index=3, layout=Layout(width='max-content'), options=('example_df[0]', 'example_df[:1]', 'example…

In [176]:
%%check 
hashresult == 783618061

##### Which command(s) return the value `3.1`?

In [228]:
%%mmc
example_df[2:3]["A"]
example_df["A"][2:3]
example_df.iloc[2,0]
example_df.loc["obj3",'A']

VBox(children=(Checkbox(value=False, description='example_df[2:3]["A"]', layout=Layout(width='max-content')), …

In [232]:
%%check 
hashresult == 121948600

##### How many cells are returned by `example_df["B"][:2]`?

In [182]:
%%slider 
1 6

IntSlider(value=6, max=6, min=1)

In [211]:
%%check 
hashresult==3306475475

## Boolean indexing

This final method for indexing that we'll discuss will be especially useful for data processing. 
Boolean indexing selects rows by applying a "mask" to the DataFrame. The mask consists of `True` or `False` values and should match the length of the DataFrame it's applied to. Applying the mask only selects the rows that have a `True` value in the mask. 

This is useful for selecting only the rows that match a certain condition:

In [247]:
mask = example_df['A'] > 2  # determine with rows have a larger value than 2 in column A
print(mask)

obj1    False
obj2     True
obj3     True
Name: A, dtype: bool

In [248]:
example_df[mask] # select the rows that have True in the mask

        A   B
obj2  2.1  22
obj3  3.1  32

You can of course combine conditions as you learned in the first week with Boolean operators:

In [263]:
mask = (example_df['A'] > 2) & (example_df['B'] < 30)
print(mask)

obj1    False
obj2     True
obj3    False
dtype: bool

In [264]:
print(example_df[mask])

        A   B
obj2  2.1  22

By using the negate symbol `~`, you can flip `True` and `False` values:

In [260]:
print(~mask)

obj1     True
obj2    False
obj3     True
dtype: bool

In [266]:
print(example_df[~mask])

        A   B
obj1  1.1  12
obj3  3.1  32

Let's rehearse the Boolean indexing again:

#### Which of the below statements selects both the first and the third row?

In [1]:
%%mc
mask = example_df['A'] >= 3.1
mask = example_df['B'] < 20
mask = (example_df['A'] >= 3.1) & (example_df['B'] < 20)
mask = (example_df['A'] >= 3.1) | (example_df['B'] < 20)

RadioButtons(layout=Layout(width='max-content'), options=("mask = example_df['A'] >= 3.1", "mask = example_df[…

In [5]:
%%check 
hashresult == 292691022

#### Create a mask that determines the rows where B > 20 and assign it to `mask`. Then use it to select these rows.

In [278]:
%%assignment
# YOUR CODE HERE
mask = example_df['B'] > 20
example_df[mask]

        A   B
obj2  2.1  22
obj3  3.1  32

In [285]:
%%check
hashresult == 3593389503
mask.dtype == 'bool'
3.1 in example_df[mask].values

### Combining DataFrames 
In the previous section, we looked at how to select parts of a DataFrame. Now we'll look at the opposite: adding columns or rows to the DataFrame. Let's first define to example DataFrames to work with:

In [145]:
example_df = pd.DataFrame({"A":[1.1,2.1,3.1],"B":[12,22,32]},
                    index=['obj1','obj2','obj3']) #example DataFrame
print(example_df)

example_df2 = pd.DataFrame({"B":[-1.1,-2.1,-3.1],"C":[-12,-22,-32]},
                    index=['obj2','obj3','obj4']) #example DataFrame
print(example_df2)

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32
        B   C
obj2 -1.1 -12
obj3 -2.1 -22
obj4 -3.1 -32

An extra column can be simply added set by specifying a new column label:

In [133]:
example_df["C"] =example_df["B"]**2
example_df

        A   B     C
obj1  1.1  12   144
obj2  2.1  22   484
obj3  3.1  32  1024

And we can remove the column again by selecting only the original columns:

In [134]:
example_df = example_df[["A","B"]]
example_df

        A   B
obj1  1.1  12
obj2  2.1  22
obj3  3.1  32

If we want to combine to larger DataFrames, we can use the Pandas function `concat`:

In [135]:
pd.concat([example_df,example_df2])

        A     B     C
obj1  1.1  12.0   NaN
obj2  2.1  22.0   NaN
obj3  3.1  32.0   NaN
obj2  NaN  -1.1 -12.0
obj3  NaN  -2.1 -22.0
obj4  NaN  -3.1 -32.0

The second DataFrame is added as extra rows to the first. Since `example_df` doesn't have a column `C`, the resulting cells are shown as missing values. The same goes for `example_df2` and column `A`. Note that a list of DataFrames is given to `concat`, and this list can have an arbitrary length:

In [159]:
pd.concat([example_df,example_df2,2*example_df,3*example_df2])

         A    B     C
obj1  12.0  1.1   NaN
obj2  22.0  2.1   NaN
obj3  32.0  3.1   NaN
obj2   NaN -1.1 -12.0
obj3   NaN -2.1 -22.0
obj4   NaN -3.1 -32.0
obj1  24.0  2.2   NaN
obj2  44.0  4.2   NaN
obj3  64.0  6.2   NaN
obj2   NaN -3.3 -36.0
obj3   NaN -6.3 -66.0
obj4   NaN -9.3 -96.0

We can also add the DataFrame as extra columns by setting `axis=1`:

In [136]:
pd.concat([example_df,example_df2],axis=1)

        A     B    B     C
obj1  1.1  12.0  NaN   NaN
obj2  2.1  22.0 -1.1 -12.0
obj3  3.1  32.0 -2.1 -22.0
obj4  NaN   NaN -3.1 -32.0

There are again missing values since `example_df` doesn't have an `obj4` row, and `example_df2` doesn't have an `obj1` row. 

Let's rehearse again: 

#### Which of the following statement(s) will give an error?

In [149]:
%%mmc
example_df["A"] == example_df["B"]
pd.concat(example_df["A"],example_df["B"],axis=0)
pd.concat([example_df["A"],example_df["B"]],axis=1)
example_df[["A","B"]] = example_df[["B","A"]]

VBox(children=(Checkbox(value=False, description='example_df["A"] == example_df["B"]', layout=Layout(width='ma…

In [158]:
%%check
hashresult == 658645187

#### Add a column `C` to `example_df` that contains the sum of columns `A` and `B`:

In [137]:
%%assignment
# YOUR CODE HERE
example_df["C"] = example_df["A"]+example_df["B"]

example_df # leave this as final line to show the result

        A   B     C
obj1  1.1  12  13.1
obj2  2.1  22  24.1
obj3  3.1  32  35.1

In [128]:
%%check
hashresult == 847242578

#### Now concatenate `example_df` and `example_df2` in the row direction

In [141]:
%%assignment
# YOUR CODE HERE
pd.concat([example_df,example_df2])

        A     B     C
obj1  1.1  12.0  13.1
obj2  2.1  22.0  24.1
obj3  3.1  32.0  35.1
obj2  NaN  -1.1 -12.0
obj3  NaN  -2.1 -22.0
obj4  NaN  -3.1 -32.0

In [142]:
%%check
hashresult == 4236979653

## File Inspection 2: statistics
Pandas has functions to statistically describe columns of the DataFrame, such as `mean`, `median`, `max`, and `min`:

In [12]:
trees_df

,X,Y,ID,BORNAME,ELEMENTNUMMER,BEHEERGROEP,AANLEGJAAR,BOOMSORTIMENT,BOOMSTATUS,TAKVRIJE_ZONE,...,EXTRA_INFORMATIE_3,GROENGEBIEDCODE,GROENGEBIEDNAAM,GEMEENTE,BUURT,WIJK,LIGGING,BEHEEROBJECTSOORT,BEHEEROBJECTOMSCHRIJVING,OBJECTID
0,4.374816,52.029683,37732,bomen,1151,Niet vrij uitgroeiende boom,NaN,Pyrus calleryana 'Chanticleer',NaN,Bereikt,...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1151,1
1,4.373551,52.031048,37780,bomen,1184,Niet vrij uitgroeiende boom,NaN,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC2,01.16.0001,Bedrijventerrein Ypenburgsepoort,Delft,Bedrijventerrein Ypenburgsepoort,16 Delftse Hout,Binnen de bebouwde kom,bm,01.16.0001.bm1184,2
2,4.345117,51.994902,8154,bomen,43,Niet vrij uitgroeiende boom,1980.0,Ulmus x hollandica 'Vegeta',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0005,Het Rode Dorp,Delft,Het Rode Dorp,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0005.bm43,3
3,4.352882,52.013582,14766,bomen,89,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC1,01.11.0002,Centrum-west,Delft,Centrum-West,11 Binnenstad,Binnen de bebouwde kom,bm,01.11.0002.bm89,4
4,4.357415,51.993470,17389,bomen,252,Niet vrij uitgroeiende boom,1968.0,Aesculus hippocastanum 'Baumannii',NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.24.0006,Voorhof-hoogbouw,Delft,Voorhof-Hoogbouw,24 Voorhof,Binnen de bebouwde kom,bm,01.24.0006.bm252,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35378,4.343097,51.992807,35294,bomen,489,Boom Nader te bepalen,1983.0,Betula pendula,NaN,NaN,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm489,35379
35379,4.343493,51.993034,35296,bomen,491,Boom Nader te bepalen,1983.0,Crataegus laevigata,NaN,NaN,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm491,35380
35380,4.343393,51.992935,35297,bomen,492,Boom Nader te bepalen,1983.0,Betula pendula,NaN,Bereikt,...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm492,35381
35381,4.343578,51.992749,35301,bomen,495,Niet vrij uitgroeiende boom,1983.0,Fraxinus excelsior,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm495,35382
35382,4.343506,51.992816,35302,bomen,496,Niet vrij uitgroeiende boom,1983.0,Acer campestre,NaN,"Onbereikbaar, snoeiingreep ongewenst",...,IC3,01.25.0003,Gillisbuurt,Delft,NaN,25 Buitenhof,Binnen de bebouwde kom,bm,01.25.0003.bm496,35383

In [4]:
trees_df.AANLEGJAAR.mean()

1981.839550051297

When calculating the mean, the missing cells with value `NaN` are ignored. 

#### Find out when the oldest tree (that we know of) was planted.

In [6]:
trees_df.AANLEGJAAR.min()

1020.0

In [5]:
%%slider
1000 2000

IntSlider(value=1597, max=2000, min=1000)

In [7]:
%%check
hashresult == 380589968

The function `value counts` shows

In [10]:
trees_df.AANLEGJAAR.min()
trees_df.AANLEGJAAR.max()
trees_df.AANLEGJAAR.median()
trees_df.AANLEGJAAR.mean()
trees_df.AANLEGJAAR.value_counts()
trees_df.AANLEGJAAR.notna()
trees_df.AANLEGJAAR.isna()
trees_df.AANLEGJAAR.describe()

count    27292.000000
mean      1981.839550
std         18.144141
min       1020.000000
25%       1972.000000
50%       1983.000000
75%       1987.000000
max       2920.000000
Name: AANLEGJAAR, dtype: float64

Assignment

waar staan oudste bomen?
plaatje van de verdeling van boomsoorten (verwijder '' delen)

In [4]:
trees_df.HOOGTE

0          6-9 m.
1         9-12 m.
2        15-18 m.
3          6-9 m.
4        15-18 m.
           ...
35378         NaN
35379         NaN
35380    12-15 m.
35381    15-18 m.
35382    12-15 m.
Name: HOOGTE, Length: 35383, dtype: object