# String expressions

Just like with numerical expressions, we can also write expressions with Strings:
- We can use the **+** operator to **concatenates** (or glue together) two strings.
- We can also paste expressions in a so-called **f-string** (short for formatting string), by preceding the quotes with a `f` and placing the expressions you want inserted into text in between curly braces `{}`.
- We can compare strings with `==` or `!=` (not equal), resulting in a boolean expression (True/False)

# Examples: run these examples and see what they do.

In [1]:
'Hello' + 'World'

'HelloWorld'

In [2]:
name = 'Mark'
'Hello ' + name

'Hello Mark'

In [3]:
 f'Hello {name}'

'Hello Mark'

In [4]:
f'the result is {1 + 2}'

'the result is 3'

You can also format the expressions in a formatting string as a float, by finishing the expression with `:f`, or `:.2f` for two decimal positions.

In [5]:
f'the result is {1 + 2:f}'

'the result is 3.000000'

In [6]:
pi = 3.1415
r = 1
f'the circumference of a circle with radius {r} is approx. {2 * pi * r:.2f}'

'the circumference of a circle with radius 1 is approx. 6.28'

In [7]:
name = 'Jack'
name == 'Jack'

True

### Assignments: produce the Strings with the given variables

Mr Mark

In [8]:
name='Mark'

In [9]:
%%assignment
### ENTER YOUR CODE HERE

In [10]:
%%check
' ' in result # There is a space missing
name='Mark'
result == 'Mr Mark'
name='John'
result == 'Mr John'

TypeError: argument of type 'NoneType' is not iterable

Mr John

In [11]:
title='Mr'
name='John'

In [12]:
%%assignment
### ENTER YOUR CODE HERE

In [13]:
%%check
title,name='Mr','Mark'
' ' in result # There is a space missing
result == 'Mr Mark'
title,name='Miss', 'Daisy'
result == 'Miss Daisy'

TypeError: argument of type 'NoneType' is not iterable

Donald has three nephews: Huey, Dewey, and Louie

In [14]:
nephew1 = 'Huey'
nephew2 = 'Dewey'
nephew3 = 'Louie'

In [15]:
%%assignment
### ENTER YOUR CODE HERE

In [16]:
%%check
nephew1,nephew2,nephew3='Huey', 'Dewey', 'Louie'
result == 'Donald has three nephews: Huey, Dewey, and Louie'
nephew1,nephew2,nephew3='Jack','Jim','James'
result == 'Donald has three nephews: Jack, Jim, and James'

There are 1 apples and 2 oranges in the basket

In [17]:
apples=1
orange=2

In [18]:
%%assignment
### ENTER YOUR CODE HERE

In [19]:
%%check
apples,orange=2,1
result == 'There are 2 apples and 1 oranges in the basket'
apples,orange=1,2
result == 'There are 1 apples and 2 oranges in the basket'

You have purchased 2 oranges, which are E1.50 each, for a total of E3.00

In [20]:
orange=2
price=1.5

In [21]:
%%assignment
### ENTER YOUR CODE HERE

In [22]:
%%check
orange,price=2,1.5
result == 'You have purchased 2 oranges, which are E1.50 each, for a total of E3.00'
orange,price=3,1
result == 'You have purchased 3 oranges, which are E1.00 each, for a total of E3.00'